#Docker compose file env setup
REDIS_URL=redis://redis:6379
POSTGRES_USER=postgres
POSTGRES_PASSWORD=securepassword
POSTGRES_DB=postgres
DATABASE_URL=postgresql://postgres:securepassword@postgres:5432/postgres